<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
<html lang="en">
<head th:replace="fragments/header :: header" />
<script th:inline="javascript">
    /*<![CDATA[*/
    console.log([[${loginType}]]);
    /*]]>*/
</script>
<body>
    <h2>create page</h2>
<!--model 에 객체를 바인딩 해줘야 th:object 로 받아올 수 있다-->
    <form th:action="@{/{loginType}/create (loginType=${loginType})}" method="post" th:object="${formUser}">
        <label th:for="name">아이디</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:class="error-class" th:text="${#fields.errors()}">중복된 회원</p>
        <label th:for="pwd">비밀번호</label>
        <input type="password" th:field="*{pwd}">
        <button type="submit">가입</button>
    </form>
</body>
</html>

<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>