<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
<html lang="en" id="rootHtml">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container" style="width:70%;">
    <div class="container" style="margin-top:20px; margin-bottom: 20px">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    </div>
    <h2>login page</h2>
    <br/>
<div class="form-group">
    <label for="username">아이디</label>
    <input type="text" id="username" class="form-control" required>
    <label for="password">비밀번호</label>
    <input type="password" id="password" class="form-control" required/>
    <button class="btn btn-primary" id="submit-btn" style="margin-top:20px;">로그인</button>
</div>
</div>
</body>
<!-- script defer 속성은 src 가 명시됐을 때만 사용 가능-->
<!-- head, body 사이에 script 넣었을 때 getElementById 가 null 을 가져와서 뒤로 뺐음 -->
<script th:inline="javascript">
    let accessToken;
    let refreshToken;
    $("#submit-btn").on("click", function () {
        var name = $("#username").val();
        var pwd = $("#password").val();
        var foo = {
            "name":name,
            "pwd":pwd
        }
        $.ajax({
            url:"http://localhost:8080/jwt-login/login",
            type:"POST",
            async:false,
            headers:{'Content-Type':'application/json'},
            data:JSON.stringify(foo), // WEB 에서 정보를 보낼 때 문자열이어야 한다
            success:function(result){
                console.log(result);
                accessToken = result.accessToken;
                // refreshToken = result.refreshToken;
                sessionStorage.setItem('accessToken',accessToken);
                // localStorage.setItem('refreshToken',refreshToken);
                sessionStorage.setItem('accessTokenExpirationTime',result.accessTokenExpirationTime);
                location.href="http://localhost:8080/userInfo.html";
            },
            error:function(){
                window.alert("로그인 정보가 잘못 됐습니다");
                location.replace("http://localhost:8080/jwt-login/login");
            }
        })
        var result = postLogin(accessToken);
        console.log("*** result ***\n" + JSON.stringify(result));
        // console.log(document.getElementById("rootHtml").innerHTML);
        document.getElementById("rootHtml").innerHTML = JSON.stringify(result);
    });

    function postLogin(accessToken){
        let val;
        if(accessToken !== undefined){
            console.log("accessToken: "+accessToken);
            $.ajax({
                url:"http://localhost:8080/jwt-login/user",
                type:"GET",
                async:false, // 동기 방식으로 받아야 return 값이 undefined가 아니다
                headers:{'Authorization':accessToken},
                success:function(result){
                    val = result;
                },
                error:function(){
                    window.alert("로그인 실패");
                }
            })
        }
        return val;
    }
    $('.fa-home').on("click",function(){
        location.href="http://localhost:8080/jwt-login/home";
    });
    $('.fa-home').hover(function(){
        $(this).css('cursor','pointer');
    }, function(){
        $(this).css('cursor','none');
    })
</script>
<style>
    .error-class {
        color: red;
    }

    .error-input {
        border-color: red;
    }
</style>
</html>