<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h2>login page</h2>
    </div>
    <form method="post" th:action="|@{/{loginType}/login (loginType=${loginType})}|" th:object="${formUser}" id="loginForm">
        <div th:if="${#fields.hasGlobalErrors()}">
            <br/>
            <div class="error-class" th:each="error : ${#fields.globalErrors()}" th:text="${error}" />
        </div>
        <label th:for="*{name}">아이디</label>
        <input type="text" th:field="*{name}">
        <label th:for="*{pwd}">비밀번호</label>
        <input type="password" th:field="*{pwd}">
        <button type="submit">로그인</button>
    </form>
</body>
<!-- script defer 속성은 src 가 명시됐을 때만 사용 가능-->
<!-- head, body 사이에 script 넣었을 때 getElementById 가 null 을 가져와서 뒤로 뺐음 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        console.log([[${loginType}]]);
        // const loginForm = document.getElementById("loginForm");
        // var url = /*[[ @{/${loginType}/login} ]]*/;
        // loginForm.action = /*[[@{/${loginType}/login}]]*/;
        /*]]>*/
    </script>
<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>
</html>